@font-face {
    font-family: 'Lato';
    src: url('../fonts/hinted-Lato-Heavy.eot');
    src: local('Lato Heavy'), local('Lato-Heavy'),
        url('../fonts/hinted-Lato-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-Lato-Heavy.woff2') format('woff2'),
        url('../fonts/hinted-Lato-Heavy.woff') format('woff'),
        url('../fonts/hinted-Lato-Heavy.ttf') format('truetype'),
        url('../fonts/hinted-Lato-Heavy.svg#Lato-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/hinted-Lato-Semibold.eot');
    src: local('Lato Semibold'), local('Lato-Semibold'),
        url('../fonts/hinted-Lato-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-Lato-Semibold.woff2') format('woff2'),
        url('../fonts/hinted-Lato-Semibold.woff') format('woff'),
        url('../fonts/hinted-Lato-Semibold.ttf') format('truetype'),
        url('../fonts/hinted-Lato-Semibold.svg#Lato-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/hinted-Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/hinted-Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-Lato-Regular.woff2') format('woff2'),
        url('../fonts/hinted-Lato-Regular.woff') format('woff'),
        url('../fonts/hinted-Lato-Regular.ttf') format('truetype'),
        url('../fonts/hinted-Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/hinted-Lato-Medium.eot');
    src: local('Lato Medium'), local('Lato-Medium'),
        url('../fonts/hinted-Lato-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-Lato-Medium.woff2') format('woff2'),
        url('../fonts/hinted-Lato-Medium.woff') format('woff'),
        url('../fonts/hinted-Lato-Medium.ttf') format('truetype'),
        url('../fonts/hinted-Lato-Medium.svg#Lato-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/hinted-Lato-Black.eot');
    src: local('Lato Black'), local('Lato-Black'),
        url('../fonts/hinted-Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-Lato-Black.woff2') format('woff2'),
        url('../fonts/hinted-Lato-Black.woff') format('woff'),
        url('../fonts/hinted-Lato-Black.ttf') format('truetype'),
        url('../fonts/hinted-Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/hinted-Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
        url('../fonts/hinted-Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/hinted-Lato-Bold.woff2') format('woff2'),
        url('../fonts/hinted-Lato-Bold.woff') format('woff'),
        url('../fonts/hinted-Lato-Bold.ttf') format('truetype'),
        url('../fonts/hinted-Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}