.main-page {
	padding: 0;
	margin: 0;
	font-family: 'Lato';
	background-image: url(../img/background-full.png);
}
.main {
	background-image: url(../img/background.png);
	height: 700px;
	width: 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

.text {
	padding: 350px 150px;
}

.text1 {
	color: #ffffff;
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 0;
}
.text2 {
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	margin: 10px 0;
}
.text3 {
	text-transform: uppercase;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 30px 15px;
	font-size: 54px;
	width: 750px;
	background-color: rgba(0, 0, 0, 0.5);
	font-weight: 700;
	margin: 25px 0;
}
p span {
	color: #f1ad1d;
	padding: 0 20px 0 0;
}
body {
	margin: 0 0;
}
.introduction {
	text-align: center;
}
.introduction h2 {
	color: #333333;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 70px 0 35px;
}
.introduction p {
	margin-bottom: 50px;
	margin-top: 0;
	color: #4d4943;
	font-size: 17px;
	font-weight: 400;
}
.introduction hr {
	width: 60px;
	height: 4px;
	background-color: #f1ad1d;
	border: none;
}
.introduction img {
	margin: 55px 0 80px;
}
.menu {
	text-align: center;
}
.menu nav {
	display: inline-block;
}
.menu ul {
	display: inline-block;
}
.menu ul li {
	display: inline-block;
	text-transform: uppercase;
	margin: 0 25px;
	font-size: 18px;
}
.menu-li {
	position: relative;
}
.menu-li:hover:before {
	content: url(../img/arrow-hover.png);
	position: absolute;
	left: 106%;
	top: -11%;
}
.menu div {
	display: inline-block;
	color: #f1b128;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 260px;
}
.menu hr {
	height: 4px;
	background-color: #f1ad1d;
	border: none;
	width: 1170px;
	margin-bottom: 80px;
}
.introduction2 h2 {
	color: #333333;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 70px 0 35px;
	text-align: center;
}
.introduction2 p {
	margin-bottom: 50px;
	margin-top: 0;
	color: #4d4943;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
}
.introduction2 hr {
	width: 60px;
	height: 4px;
	background-color: #f1ad1d;
	border: none;
	margin-bottom: 50px;
	}
.consulting {
	margin-left: 90px;
}
.consulting-text {
	display: inline-block;
	width: 45%;
	text-align: justify;
	vertical-align: top;
}
.images {
	display: inline-block;
}
.img12, .img34 {
	display: inline-block;
}
.consulting-text p {
	margin-bottom: 26px;
	text-align: left;
}
.consulting-text p.header {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
}
.consulting-text p.header span {
	color: #f1ad1d;
}
.consulting-text a {
	color: white;
	display: inline-block;
	background: #f1ad1d;
	text-decoration: none;
	text-transform: capitalize;
	padding: 15px;
	margin-top: 6px;
}
.consulting .images img {
	margin-right: 25px;
	margin-bottom: 15px;
	
}
.red-scale {
	background-image: url(../img/background2.png);
	height: 380px;
	width: 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	margin: 60px 0;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.red-scale p {
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
	padding-top: 150px;
	padding-bottom: 40px;
	margin: 0;
}
.red-scale p span {
	padding: 0;
}
.red-scale hr {
	width: 60px;
	height: 4px;
	background-color: #f1ad1d;
	border: none;
}
.team {
	margin: 50px 0 50px 75px;
}
.team-part {
	float: left;
	margin-right: 5px;
	position: relative;
}
.none {
	clear: both;
}
.team-part div {
	width: 110px;
	position: absolute;
	top: 125px;
	background: #333333;
	padding: 10px 20px 10px 10px;
	margin-left: 15px;
	color: white;
	font-size: 14px;
}
.team-part div span {
	color: #f1ad1d;
}
.cards {
	margin-bottom: 50px;
	width: 1170px;
	margin: 50px auto;
}
.card {
	width: calc(25% - 28px);
	float: left;
	text-align: center;
	margin: 14px;
	border-bottom: 3px solid #333333;
}
.design {
	padding: 20px 20px;
	color: white;
	font-size: 18px;
	background: #333333;
}
.design span {
	color: #f1ad1d;
}
.icon {
	height: 65px;
	margin-top: 30px;
}
.card hr {
	width: 60px;
	height: 4px;
	background-color: #f1ad1d;
	border: none;
	margin: 25px auto;
}
.card p {
	font-size: 14px;
}
.card .offer {
	font-size: 18px;
}
.big-letters {
	text-transform: capitalize;
}
.last {
	margin-bottom: 35px;
}
.description {
	height: 64px;
}
.featured {
	height: 475px;
}
.red-scale2 {
	background: url(../img/background.png) no-repeat;
	height: 475px;
	width: 100%;
	margin: 195px 0 150px;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center center;
	position: relative;
}
.red-scale2 p {
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
	padding-top: 150px;
	padding-bottom: 40px;
	margin: 0;
	position: relative;
	z-index: 2;
}
.red-scale2 p span {
	padding: 0;
}
.red-scale2 hr {
	width: 60px;
	height: 4px;
	background-color: #f1ad1d;
	border: none;
	position: relative;
	z-index: 2;
}
.red-scale2:before {
	content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.menu li:hover {
	color: #f1b128;
}
.menu li:after {
	content: "";
	background-image: url(../img/);
}
.logo-images {
	text-align: center;
	z-index: 2;
	position: relative;
	margin-top: 60px;
	
}
.logo-image {
	display: inline-block;
	padding: 0 30px;
	vertical-align: middle;
}
.reviews {
	margin-bottom: 255px;
}
.review-items {
	margin: 50px auto;
	width: 1170px;
}
.review-item {
	display: inline-block;
	width: calc(33.1% - 20px);
	margin-right: 30px;
}
.review-item:last-child {
	margin-right: 0px;
}
.review-item-quot {
	width: 100%;
	height: 48px;
}
.review-item-quot hr{
	width: 300px;
	height: 4px;
	background-color: #f1ad1d;
	border: none;
	float: right;
	margin-top: 34px;
}
.review-item-quot:before {
	content: url(../img/Layer10.png);
	width: 52px;
	height: 48px;
	display: inline-block;
	float: left;
}
.review-item-person-name {
	font-size: 14px;
	font-weight: 700;
}
.review-item-person-post {
	font-size: 14px;
	font-weight: 400;
}
.review-item-person-image {
	display: inline-block;
	float: left;
	margin: 0 13px 0 0;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.review-item-person {
	width: 100%;
}
.hr hr{
	height: 3px;
	background-color: #090909;
	border: none;
	margin-bottom: 15px;
}
.review-item-person-description {
	margin-top: 5px;
}
.subscribe__form {
	margin: 0 auto;
	margin-top: 59px;
	margin-bottom: 177px;
	width: 100%;
	max-width: 770px;
	position: relative;
}
.subscribe__form_email {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color:  #c7c7c7;
	background-color:  #ffffff;
	padding: 25px 0 25px 30px;
	font-style: italic;
	color:  #747474;
	font-size: 18px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.subscribe__form_submit {
	padding: 25px 47px;
	background-color:  #f1ad1d;
	border: none;
	font-size: 18px;
	font-weight: 700;
	color:  #ffffff;
	position: absolute;
	right:1px;
	top: 1px;
}
.subscribe__form_email:focus {

}
.send-button-little {
	text-transform: uppercase;
}
.feedback {
	width: 576px;
	margin-left: 100px;
	margin-top: 50px;
	
}
.form-legend {
	background-color:  #333333;
	width: 380px;
	height: 56px;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 56px;
	padding-left: 15px;
}
.form-legend-yellow {
	color: #f1ad1d;
}
.lorem {
	color:  #505050;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
}
.name {
	margin-right: 23px;
}
.name, .email {
	color:  #505050;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	line-height: 12px;
	border-style: solid;
	border: 1px solid #929292;
	background-color:  rgba(17, 17, 17, 0);
	width: 260px;
	height: 45px;
	padding-left: 12px;
	font-family: 'Lato';
}
.form-message {
	border-color: #929292;
	background-color:  rgba(17, 17, 17, 0);
	width: 560px;
	height: 186px;
	padding-left: 12px;
	margin-top: 20px;
	color:  #505050;
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	line-height: 12px;
	padding-top: 19px;
	font-family: 'Lato';
	margin-bottom: 23px;
	
}
.form-reset, .send-button-little {
	background-color:  #f1ad1d;
	width: 118px;
	height: 43px;
	font-family: Lato;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 900;
	line-height: 43px;
	text-transform: uppercase;
	border: none;
}
.form-reset {
	margin-right: 24px;
}
.contacts {
	width: 325px;
	margin-top: 50px;
	
}
.get-in-touch, .follow {
	background-color:  #333333;
	width: 246px;
	height: 56px;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 56px;
	padding-left: 15px;
}
.contacts-text {
	color:  #505050;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
}
.icon-info {
	margin-bottom: 10px;
}
.little-icon {
	background-color:  #333333;
	width: 36px;
	height: 32px;
	color:  #f1ad1d;
	font-size: 14px;
	text-align: center;
	line-height: 32px;
	margin-right: 12px;
}
.little-icon-text {
	color:  #505050;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
}
.socials {
	margin-top: 28px;
	display: flex;
	width: 228px;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.soials-item {
	background-color:  #f1ad1d;
	width: 45px;
	height: 40px;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	line-height: 40px;
}
.social-link {
	color:  #ffffff;
	text-decoration: none;
}
.follow {
	margin-top: 38px;
}
.wrapper {
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	width: 1240px; 
	margin-bottom: 142px;
}
.red-scale-bird {
	background-image: url(../img/background3.jpg);
	height: 485px;
}
.red-scale .themeforest {
	color:  #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	padding: 60px 0 0 0;
	text-transform: lowercase;
}
.themeforest-link {
	text-decoration: none;
}
.logo-companies {
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	    margin-top: 58px;
	width: 1134px;
	margin: 0 auto;
}
.logo-companies-item {
	width: 222px;
	text-align: center;
}
.news {
	width: 1169px;
	margin: 50px auto 112px;
	columns: 370px;
	column-gap: 20px;
	/*  display: grid;
	grid-template-columns: 370px 370px 370px;
	grid-template-rows: 337px 50px 409px 337px;
	grid-column-gap: 30px;
	grid-row-gap: 32px;
	grid-auto-flow: row;*/
}
.news-item {
	break-inside: avoid;
	margin-bottom: 35px;
}
.new-image {
	background-color:  #111111;
	width: 370px;
	height: 45px;
}
.new-image-cite {
	background-color:  #dbdbdb;
	width: 370px;
	height: 157px;
}
/* .flow {
	grid-column: 2;
  	grid-row: 1 / 3;
}
.flow4 {
	grid-column: 1;
  	grid-row: 2 / 3;
}
.flow5 {
	grid-column: 2;
  	grid-row: 3 / 4;
}
.flow6 {
	grid-column: 3;
  	grid-row: 2 / 3;
} */
.new-name-image {
	background-color:  #333333;
	width: 36px;
	height: 32px;
	color:  #f1ad1d;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	margin-right: 9px;
}
.new-name-title {
	color:  #333333;
	font-size: 18px;
	font-weight: 700;
	text-transform: capitalize;
}
.new-name {
	margin-top: 9px;
}
.new-description {
	padding: 16px 0 14px;
	border-bottom: 1px solid #c1c1c1;
	margin: 0;
}
.new-aditional {
	padding: 15px 0 11px;
	border-bottom: 3px solid #333333;
}
.new-date {
	color:  #828282;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	text-transform: uppercase;
	float: left;
}
.new-aditional-link {
	color:  #828282;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	float: right;
	text-transform: uppercase;
	text-decoration: none;
}
.border-none {
	border: none;
}
.load-more-wrapper {
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	margin-bottom: 110px;
	-webkit-align-items: center;
	        align-items: center;
}
.load-more_button {
	
	padding: 20px 80px;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 12px;
	text-decoration: none;
	background-color: #f1ad1d;
}
.red-scale-buy {
	background-image: url(../img/background4.jpg);
}
.buy-now {
	padding: 20px 56px;
	background: rgba(0,0,0,0);
	border: 1px solid #fff;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	margin-top: 65px;
}
.button-wrapper {
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
}
.red-scale .red-scale-buy-p {
	padding-top: 95px;
	padding-bottom: 60px;
}
.nav-menu {
	width: 1169px;
    margin: 60px auto 45px;
}
.nav-ul {
	display: flex;
	-webkit-justify-content: center;
	        justify-content: center;
	padding-inline-start: 0px;
}
.nav-li {
	list-style: none;
	padding: 14px 36px;
	background: #FFF;
	border: 1px solid #333333;
	margin-right: 16px;
	color:  #111111;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	-webkit-transition: all 0.3s linear;
	   -moz-transition: all 0.3s linear;
	    -ms-transition: all 0.3s linear;
	     -o-transition: all 0.3s linear;
	        transition: all 0.3s linear;
}
.nav-li:hover {
	background-color: #303030;
	cursor: pointer;
	color:  #f1ad1d;
}
.portfolio {
	width: 1169px;
    margin: 0 auto 65px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 270px 270px 270px; */
    grid-auto-rows: 270px;
    grid-gap: 15px;
}
.portfolio-item {
	width: 281px;
	height: 271px;
	margin-bottom: 15px;
	position: relative;
}
.portfolio-text {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background: #FFF;
	height: 100%;
	text-align: center;
	color:  #5b5b5b;
	font-size: 14px;
	font-weight: 300;
}
.portfolio-item:hover .portfolio-text{
	z-index: 2;
}
.portfolio-text-header {
	color:  #111111;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 25px;
}
.border {
	width: 64px;
	height: 3px;
	background-color: #f1ad1d;
	position: relative;
	left: 100px;
	margin-bottom: 28px;
}
.portfolio-text-button {
	width: 140px;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	padding: 15px 5px;
	border: none;
	background-color: #F1AD1D;
	cursor: pointer;
	margin-top: 27px;
}
.map-location {
	color:  #ffffff;
	font-size: 18px;
	font-weight: 700;
	background-color:  #333333;
	padding: 23px 0;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 33px;
}
.map-location-yellow {
	color: #f1ad1d;
}
.copyright {
	color:  #333333;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
}